<?xml version="1.0"?>
<launch>
  <node name="collision_monitor" pkg="collision_monitor"
        type="collision_monitor_node" output="screen" required="true">
    <rosparam command="load"
              file="$(find collision_monitor)/config/robot_footprint.yaml" />
    <rosparam command="load"
              file="$(find collision_monitor)/config/collision_monitor.yaml" />
  </node>
</launch>
