<?xml version='1.0'?>
<launch>
    <arg name="port_name" default="can0"/>
    <arg name="robot_model" default="ranger"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link" />
    <arg name="update_rate" default="50" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="publish_odom_tf" default="false" />
    <arg name="cmd_vel_timeout" default="0.25" />
    <arg name="stop_velocity_threshold" default="0.01" />
    <arg name="stop_wheel_speed_threshold" default="0.01" />
    <arg name="steering_center_tolerance" default="0.01" />
    <arg name="stop_stable_frames" default="3" />
    <arg name="center_stable_frames" default="3" />
    <arg name="stop_wait_timeout" default="2.0" />
    <arg name="mode_switch_timeout" default="2.0" />
    <arg name="centering_timeout" default="3.0" />

    <!-- The arbiter selects a source; collision_monitor is the only /cmd_vel publisher. -->
    <include file="$(find cmd_vel_arbiter)/launch/cmd_vel_arbiter.launch" />
    <include file="$(find collision_monitor)/launch/collision_monitor.launch" />

    <node name="ranger_base_node" pkg="ranger_base" type="ranger_base_node" output="screen">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="robot_model" type="string" value="$(arg robot_model)" />
        <param name="odom_frame" type="string" value="$(arg odom_frame)" />
        <param name="base_frame" type="string" value="$(arg base_frame)" />
        <param name="update_rate" type="int" value="$(arg update_rate)" />
        <param name="odom_topic_name" type="string" value="$(arg odom_topic_name)" />  
        <param name="publish_odom_tf" type="bool" value="$(arg publish_odom_tf)" />
        <param name="cmd_vel_timeout" type="double" value="$(arg cmd_vel_timeout)" />
        <param name="stop_velocity_threshold" type="double" value="$(arg stop_velocity_threshold)" />
        <param name="stop_wheel_speed_threshold" type="double" value="$(arg stop_wheel_speed_threshold)" />
        <param name="steering_center_tolerance" type="double" value="$(arg steering_center_tolerance)" />
        <param name="stop_stable_frames" type="int" value="$(arg stop_stable_frames)" />
        <param name="center_stable_frames" type="int" value="$(arg center_stable_frames)" />
        <param name="stop_wait_timeout" type="double" value="$(arg stop_wait_timeout)" />
        <param name="mode_switch_timeout" type="double" value="$(arg mode_switch_timeout)" />
        <param name="centering_timeout" type="double" value="$(arg centering_timeout)" />
    </node>
</launch>
