<launch>
  <!--x2bot最大线速度0.85m/s，最大角速度8.20rad/s-->
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <!--include file="$(find x2bot_teleop)/launch/includes/velocity_smoother.launch.xml"/-->

  <node pkg="x2bot_teleop" type="x2bot_joy_PXN" name="x2bot_joy_PXN">
    <param name="scale_angular" value="0.4"/>
    <param name="scale_linear" value="0.25"/>
    <param name="cmd_vel_topic" value="/cmd_vel/teleop"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
     <param name="dev"  value="/dev/input/js0" />
  </node>

  
  <node pkg="x2bot_teleop" type="runnav" name="runnav">
  </node>

</launch>

