<launch>

    <arg name="project" default="obstacle_detection"/>

    <!-- Parameters -->
    <rosparam file="$(find obstacle_detection)/config/params.yaml" command="load" />

    <!--- obstacle_detection -->
    <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" respawn="false"/>
 
</launch>
