<launch>

    <include file="$(find robot_r)/launch_ROS1/msg_MID360.launch" />
    <!-- 加载地图 -->
    <arg name="map_file" default="/home/nav/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server"  required="true" args="$(arg map_file)" />


    <include file="$(find robot_r)/lio/launch/location_360.launch" />

    



</launch>
